<!-- <%= render partial: "profiles/form", locals: { profile: @profile, user: @user } %> -->
<div class="album bg-light py-5 px-5 my-5">
  <%= form_for @profile, url: user_profile_path, method: :patch do |f| %>
    <%= f.hidden_field :user_id, value: @user.id %>
    <label>Username</label><br>
    <%= f.text_field :username, class: "form-control" %>
    <label>Avatar</label><br>
    <%= f.file_field :avatar %><br>

    <legend>Interests</legend>
    Select your top three interests
    <br>
    <h4>#1</h4>
    <%= render partial: "profiles/category_select", locals: { index: 1, f: f } %>
    <h4>#2</h4>
    <%= render partial: "profiles/category_select", locals: { index: 2, f: f } %>
    <h4>#3</h4>
    <%= render partial: "profiles/category_select", locals: { index: 3, f: f } %>
    <br>
    <%= f.submit class: "btn btn-outline-dark" %>

  <% end %>
</div>
