<div class="album bg-light py-5 px-5 my-5">
  <% if !@user.try(:profile) %>
    You have not set up a user profile
    <br><br>
    <%= link_to "Create profile", new_user_profile_path, class: "btn btn-outline-dark" %>
  <% else %>
    <div class="row">
      <div class="col">
        <h2><%= @profile.username %></h2>
        <%= image_tag @profile.avatar.url(:medium) %>
        <br><br>
      </div>
      <div class="col">
        <h3>Interests</h3>

        <%= render partial: "categories/category_card", locals: { categories: @interests } %>
        <br><br>
      </div>
    </div>
    
    <br><br>
    <%= link_to "Edit your profile", edit_user_profile_path, class: "btn btn-outline-dark" %>
  <% end %>
</div>
