<br><br>
<main role="main">

      <section class="jumbotron text-center">
        <div id="popCategories" class="container">
          <h1 class="jumbotron-heading">Popular Categories</h1>
          <br>
          <%= render partial: "categories/category_card", locals: { categories: @first_six_categories } %>
          <div class="row">
            <div class="col">
              <%# link_to "See all categories", categories_path, class: "btn btn-outline-dark my-2" %>
              <button type="button" id="viewAllCategories" class="btn btn-outline-dark my-2">See all categories</button>
            </div>

          </div>
        </div>
        <!-- <div id="testDiv">
          <div class="album px-5 bg-light py-5 my-5">
            <h1 class="jumbotron-heading">All Categories</h1>
            <div class="row justify-content-between">
              <span id="testSpan"></span>
            </div>
          </div>
        </div> -->
        <div id="allCategoriesPlaceholder" class="" style="display:none">
          <div class="album px-5 py-5">
            <h1 class="jumbotron-heading">All Categories</h1>
            <div class="row justify-content-between">
              <%= render partial: "categories/category_card", locals: {categories: @categories} %>
            </div>
            <div class="row">
              <div class="col">

                <button type="button" id="fewerCategories" class="btn btn-outline-dark my-2">Popular categories</button>
              </div>

            </div>
            <%= link_to "Add New Category", new_category_path, class: "btn btn-outline-dark" if current_user.try(:admin?) %>
          </div>
        </div>
      </section>

      <div class="album py-5 bg-light mb-5">
        <div class="container">
          <div class="row justify-content-md-center">
            <h1>Recently Added Activities</h1>
          </div>
          <div class="row justify-content-between">
            <div class="col-3">
              <%= link_to "See all activities", activities_path, class: "btn btn-outline-dark my-2" %>
            </div>
            <div class="col-md-3">
              <%= link_to "New activity", new_activity_path, class: "btn btn-outline-dark" %>
            </div>
          </div>
          <br>
          <div class="row">


              <%= render partial: "activities/activity_details_for_index", collection: @newest_activities, as: :activity %>

          </div>
          <%= link_to "See all activities", activities_path, class: "btn btn-outline-dark my-2" %>
        </div>
      </div>

    </main>



  <!-- <script id="category-template" type="text/x-handlebars-template">
    <img src="/{{icon_file_name}}">
      {{title}}
  </script> -->
