<%= form_for category do |f| %>
<% if category.errors.any? %>
      <div id="error_explanation">
          <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>
          <ul>
              <% category.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
          </ul>
      </div>
  <% end %>
  <label>Title</label><br>
  <%= f.text_field :title %><br>
  <%= f.file_field :icon %><br>

  <br>
  <br>
  <div class="row justify-content-between">
    <div class="col">
      <%= f.submit  class: "btn btn-outline-dark" %><br>
      <% if !!category.id %>
        <%= link_to "Delete Category", category_path(category), method: :delete, class: "btn btn-outline-danger" %>
      <% end %>
    </div>
    <div class="col-md-3">
      <%= link_to "Cancel", categories_path, class: "btn btn-outline-warning" %>
    </div>
  </div>

<% end %>
