<div class="album bg-light py-5 px-5 my-5">
  <div class="row justify-content-between">
    <div class="col-4">
      <h1><%= @category.title %></h1>
         <!-- <%= image_tag @category.icon.url(:thumb) %>   -->
    </div>
    <div class="col-3">
      <%= link_to "All Categories", categories_path, class: "btn btn-outline-dark" %>
      <br>
      <%= link_to "Edit Category", edit_category_path(@category), class: "btn btn-outline-dark" if current_user.try(:admin?) %>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <% @category.activities.each do |activity| %>
          <%= render partial: "activities/activity_details_for_index", locals: { activity: activity} %>
      <% end %>
    </div>
  </div>
</div>
