<%= form_for activity do |f| %>
  <% if activity.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(activity.errors.count, "error") %> prohibited this activity from being saved:</h2>
            <ul>
                <% activity.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>


    <label>Name</label><br>
    <%= f.text_field :title %><br>
    <label>Description</label><br>
    <%= f.text_area :description, class: "form-control" %><br>
    <br>
    <fieldset>
      <legend>Location</legend>
      <%= f.fields_for :location do |location_fields| %>
      <label>Street Address</label><br>
      <%= location_fields.text_field :street_address_1 %><br>
      <label>Street Address</label><br>
      <%= location_fields.text_field :street_address_2 %><br>
      <label>City</label><br>
      <%= location_fields.text_field :city %><br>
      <label>State</label><br>
      <%= location_fields.text_field :state %><br>
      <label>Zip Code</label><br>
      <%= location_fields.text_field :zip_code %><br>
      <label>Country</label><br>
      <%= location_fields.text_field :country %><br>
      <% end %>
    </fieldset>
    <br>
    <legend>Categories</legend><br>
    <%= f.collection_check_boxes(:category_ids, Category.all, :id, :title) %>
    <br>
    <%= f.submit %>

  <% end %>
