<h1><%= @activity.title %></h1>
<p><%= @activity.description %></p>
<br>
<h3>Categories</h3>
<% @activity.categories.each do |category| %>
<p><%= category.title %></p>
<% end %>

<br><br><br>
<h3>Reviews</h3>
<% @activity.reviews.each do |review| %>
  <p><%= review.rating %> Stars</p>
  <p><%= review.comment %></p>
<% end %>
<br><br>
<%= link_to "Write a review for this activity", new_activity_review_path(@activity) %>
