<div class="album bg-light py-5 px-5 my-5">
  <div class="row">
    <div class="col">
      <h1><%= @activity.title %></h1>
      <p><%= @activity.description %></p>
      <br><br>
      <h3>Categories</h3>
      <% @activity.categories.each do |category| %>
      <span><%= category.title %> &emsp;</span>
      <% end %>
      <br><br>
      <% if @activity.photos.count > 0 %>
        <%= image_tag @activity.photos.first.image.url(:medium) %>
      <% end %>
      <br><br>
      <div class="row justify-content-between">
        <div class="col">
          <%= link_to "View gallery", activity_photos_path(@activity), class: "btn btn-outline-dark" %><br>
          <%= link_to "Upload a photo", new_activity_photo_path(@activity), class: "btn btn-outline-dark" if signed_in?%><br>

        </div>
        <div class="col-md-3">
          <%= link_to "Edit activity", edit_activity_path(@activity), class: "btn btn-outline-dark" if current_user.try(:admin?) || @activity.user_id == current_user.try(:id) %><br>
          <%= link_to "All activities", activities_path, class: "btn btn-outline-dark" %>
        </div>
      </div>
    </div>
    <% if @activity.location %>
      <%= render partial: 'locations/location_card', locals: { location: @activity.location } %>
    <% end %>
  </div>
  <br>
</div>

<div class="album bg-light py-5 px-5 my-5">
  <div style="display:none" id="review_form_placeholder">
    <%= render partial: 'reviews/form', locals: { activity: @activity, review: @activity.reviews.build } %>
  </div>
  <br>
  <div class="row justify-content-between">
    <div class="col">
      <h3>Reviews</h3>
    </div>
    <div class="col-md-3">
      <button type="button" class="btn btn-outline-dark" id="review_form_btn">Write a review</button>
      <!-- <%# link_to "Write a review", new_activity_review_path(@activity), class: "btn btn-outline-dark" %> -->
    </div>
  </div>
  <br>
<!-- ///////// Can Remove After further testing /////////////// -->
  <!-- <div id="newReview" style="display:none" class="mb-5">
    <div class="review-box card rounded">

      <div class="card-header">

        <div style="display:inline" id="starsDiv">
          <%= render partial: "reviews/star_ratings" %>
        </div>
        <span id="reviewTitle"></span>
        <span id="reviewId" style="visibility:hidden"></span>
      </div>
      <div class="card-body">
        <div class="comment-box">
          <p id="reviewComment"></p>
        </div>
        <div class="card-footer">
          <p id="reviewUserEmail"></p>
          <p id="reviewUpdatedAt"></p>
        </div>
      </div>
      <div class="row justify-content-between">
        <div class="col edit_btn_placeholder">
          <%# link_to "Edit your review", edit_activity_review_path(id: review.id, activity_id: @activity.id), class: "btn btn-outline-dark ml-2" %>

        </div>
        <div class="col-md-3">
          <%# link_to "Delete your review", activity_review_path(@activity, review), :method => :delete, class: "btn btn-outline-danger" %>
        </div>
      </div>
      <br>
    </div>
  </div> -->
  <div id="reviewBox">
    <%= render partial: 'reviews/review_card', collection: @reviews, as: :review %>
  </div>

</div>

<script id="review-template" type="text/x-handlebars-template">
  <div class="review-box card rounded mb-4">
    <div class="card-header">

      <span id="1starHb" class="star fa fa-star checked"></span>
      <span id="2starHb" class="star fa fa-star"></span>
      <span id="3starHb" class="star fa fa-star"></span>
      <span id="4starHb" class="star fa fa-star"></span>
      <span id="5starHb" class="star fa fa-star"></span>
      {{title}}
    </div>
    <div class="card-body">
      <div class="comment-box">
        <p>{{comment}}</p>
      </div>
      <div class="card-footer">
        <p>{{user_email}}</p>
        <p id="timestampHolder"></p>
        <!-- <p>{{formatDate updated_at}}</p> -->
      </div>
    </div>
    <div class="row justify-content-between">
      <div class="col">
        <a class="btn btn-outline-dark ml-2" href="/activities/<%= @activity.id %>/reviews/{{id}}/edit">Edit your review</a>
      </div>
      <div class="col-md-3">
        <!-- <a class="btn btn-outline-danger" rel="nofollow" data-method="delete" href="/activities/<%# @activity.id %>/reviews/{{id}}">Delete your review</a> -->
      </div>
    </div>
    <br>
  </div>
</script>
<!-- <script type="text/javascript">
  $("#review_form_btn").click(function(e){
    e.preventDefault();
    $("#review_form_placeholder").html("<%# j(render partial: 'reviews/form', locals: { activity: @activity, review: @activity.reviews.build } ) %>");
    $("#review_form_btn").toggle();
  })
</script> -->

<!-- <script type="text/javascript">
  $("#edit_review_btn").click(function(e){
    $("#review_form_placeholder").html("<%# j(render partial: 'reviews/form', locals: { activity: @activity, review: Review.last } ) %>");
    $("#edit_review_btn").toggle();
  })
</script> -->
