<h1><%= @activity.title %></h1>
<p><%= @activity.description %></p>
<br>
<%= link_to "Edit Activity", edit_activity_path(@activity), class: "btn btn-primary" %>
<%= render partial: 'locations/location_card', locals: { location: @activity.location } %>
<br><br>
<h3>Categories</h3>
<% @activity.categories.each do |category| %>
<span><%= category.title %> &emsp;</span>
<% end %>

<br><br><br>
<h3>Reviews</h3>
<% @activity.reviews.each do |review| %>
  <p><%= review.rating %> Stars</p>
  <div class="comment-box">
    <p><%= review.comment %></p>
  </div>
  <p>-<%= review.user.email %></p>
  <% if current_user == review.user %>
    <%= link_to "Edit your review", edit_activity_review_path(id: review.id, activity_id: @activity.id), class: "btn btn-primary" %>
  <% end %>
  <br>
<% end %>
<br><br>
<%= link_to "Write a review for this activity", new_activity_review_path(@activity) %>
