<% if review.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>
            <ul>
                <% review.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
  <div id="error_msg" style="color:red">

  </div>
<h2>Review of <%= @activity.title %></h2>
<%= form_for([ activity, review]) do |f| %>
  <%= f.hidden_field :user_id, value: current_user.try(:id) %>
  <%= f.hidden_field :activity_id, value: activity.id %>
  <label>Title</label><br>
  <%= f.text_field :title, class: "form-control" %><br>
  <label>How many stars would you give this activity? (Enter 1 - 5)</label>
  <%= f.text_field :rating, class: "form-control" %><br>
  <span id="1star" data-rating="1" name="star-input" class="star fa fa-star-o"></span>
  <span id="2star" data-rating="2" name="star-input" class="star fa fa-star-o"></span>
  <span id="3star" data-rating="3" name="star-input" class="star fa fa-star-o"></span>
  <span id="4star" data-rating="4" name="star-input" class="star fa fa-star-o"></span>
  <span id="5star" data-rating="5" name="star-input" class="star fa fa-star-o"></span>
  <br>
  <label>Comments</label><br>
  <%= f.text_area :comment, class: "form-control" %><br>
  <div class="row justify-content-between">
    <div class="col">
      <!-- <% if review.persisted? %>
        <%= f.submit class: "btn btn-outline-dark" %>
      <% else %>
        <button type="button" class="btn btn-outline-dark" id="submit_new_review">Create Review</button>
      <% end %> -->
      <%= f.submit class: "btn btn-outline-dark" %>
    </div>
    <!-- <div class="col-md-3">
      <%# link_to "Back to activity", activity_path(@activity), class: "btn btn-outline-dark" %>
    </div> -->
    <% if review.persisted? %>
      <%= link_to "Delete your review", activity_review_path(@activity, review), :method => :delete, class: "btn btn-outline-danger" %>
    <% else %>
      <div class="col-md-3">
        <button type="button" class="btn btn-outline-dark" id="remove_form">Cancel</button>
      </div>
    <% end %>

  </div>

<% end %>

<script type="text/javascript">
  $(".star[name=star-input]").click(function(e){
    alert("Sorry, this functionality has not yet been added. Just enter a number 1-5 and let's all move on with our lives.");
    console.log($(this).attr('data-rating'));
    // $(this).parent($(this).attr('data-id'));
    // $("#review_rating").text($(this).attr('data-id'))
    console.log($(this).parent())
  })
</script>


<!-- <script type="text/javascript">
  $("form#new_review").submit(function(e){
    e.preventDefault();
    let action = $(this).attr("action");
    let params = $(this).serialize()
    let posting = $.post(action, params)
    // debugger;
    posting.done(function(data){
       console.log(data)
      if (!!data.id) {
        let review = new Review(data);
        debugger;
        let reviewCard = review.renderReview();
        $("#reviewBox").prepend(reviewCard);
        $("#timestampHolder").html(review.reformatDate());

        if (review.rating > 1){
          $("#2starHb").addClass("checked")
        }
        if (review.rating > 2){
          $("#3starHb").addClass("checked")
        }
        if (review.rating > 3){
          $("#4starHb").addClass("checked")
        }
        if (review.rating > 4){
          $("#5starHb").addClass("checked")
        }
        // $("#newReview").show();
        $("#review_form_placeholder").html("");

      } else {
        console.log(typeof data)
        let errorMessage = []
        for (var key in data) {
          errorMessage.push(`${key} ${data[key]}. `)
        };
        console.log(errorMessage.join("\n"))
        $("#error_msg").html(errorMessage.join("\n"))
        $("form#new_review [name=commit]").prop("disabled", false)
      }

    })
    .fail(function(e){
      alert("Sorry, something went wrong")
    })
  })
</script> -->

<!-- <script type="text/javascript">
  $("#remove_form").click(function(e){
    $("#review_form_placeholder").hide();
    $("#review_form_btn").toggle()
  })
</script> -->

<!-- <script type="text/javascript">
  $("form#new_review").submit(function(e){
    e.preventDefault();
    let values = $(this).serialize();
    let posting = $.post("/activities/" + "<%# @activity.id %>" + "/reviews", values);
    posting.done(function(data){
      console.log(data);
      $("#newReview").show();
      $("#review_form_placeholder").html("");
      // $("#review_form_btn").toggle();
      $("#reviewTitle").text(data["title"]);
      $("#reviewId").text(data["id"]);
      $(".edit_btn_placeholder").html("<a href='/activities/" + "<%# @activity.id %>" + "/reviews/" + data['id'] + "/edit' id='edit_review_btn' role='button' class='ml-3 btn btn-outline-dark'>Edit your review</a>")
      $("#reviewComment").text(data["comment"]);
      $("#reviewUserEmail").text(data["user"]["email"]);
      $("#reviewUpdatedAt").text(data["updated_at"].slice(5,10).replace('-','/') + "/" + data["updated_at"].slice(0,4));
      let checkedStars = $("[data-value]").filter(function() {
        return  $(this).attr("data-value") <= parseInt(data["rating"]);
      });
      checkedStars.addClass("checked")
    })
  })
</script> -->
