<%= form_for location do |f| %>
<% if location.errors.any? %>
      <div id="error_explanation">
          <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>
          <ul>
              <% location.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
          </ul>
      </div>
  <% end %>
<legend>Location</legend>
<%= f.hidden_field :user_id, value: current_user.id %>
<div class="form-group">
  <label>Street Address 1</label><br>
  <%= f.text_field :street_address_1, class: "form-control" %>
</div>
<div class="form-group">
  <label>Street Address 2</label><br>
  <%= f.text_field :street_address_2, class: "form-control" %>
</div>
<div class="form-row">
  <div class="col">
    <label>City</label>
    <%= f.text_field :city, class: "form-control" %>
  </div>
  <div class="col">
    <label>State</label>
    <%= f.text_field :state, class: "form-control" %>
  </div>
  <div class="col">
    <label>Zip Code</label>
    <%= f.text_field :zip_code, class: "form-control" %>
  </div>
</div>
<div class="form-group">
  <label>Country</label><br>
  <%= f.country_select :country, priority_countries: ["US"], priority_countries_divider: "~~~~~~", class: "form-control btn btn-secondary dropdown-toggle" %><br>
</div>
  <fieldset>
    <legend>Add Activities</legend>
    <%= f.fields_for :activities do |activity_fields| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <label>New Activity</label>
    <div class="form-group">
      <%= activity_fields.label :title %><br>
      <%= activity_fields.text_field :title, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= activity_fields.label :description %><br>
      <%= activity_fields.text_area :description, class: "form-control" %>
    </div>


    <legend>Categories</legend>
    <%= activity_fields.collection_check_boxes(:category_ids, Category.all, :id, :title) do |b| %>
      <%= b.label(class: "label-checkbox") { b.check_box + b.object.title} %>
    <% end %>
    <br><br>
    <% end %>
  </fieldset>

  <%= f.submit  %>
<% end %>
