<!DOCTYPE html>
<html>
  <head>
    <title>CostFree</title>
    <%= csrf_meta_tags %>
    <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

   <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/navbar" %>

    <div class="container" role="main">

      <%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
      <%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
      <%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>
      <%= content_tag(:div, flash[:danger], :id => "flash_danger") if flash[:danger] %>

      <div id="body-wrapper">
        <%= yield %>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <%= render "layouts/footer" %>
      </div>
    </footer>


    <!-- Optional JavaScript -->

    <script id="location-template" type="text/x-handlebars-template">
      <div class="body">
        {{#each activities}}
          {{>activityPartial}}
        {{/each}}
      </div>
    </script>
    <script id="activity-partial" type="text/x-handlebars-template">
        <div class="body">
          <a href="/activities/{{id}}" class="btn btn-block btn-outline-dark">{{title}}</a>
          <p>{{description}}</p>
          <ul class="customLi">
            {{#each (limit reviews 5)}}
              <li>{{>reviewPartial}}</li>
            {{/each}}
          </ul>
        </div>
    </script>
    <script id="review-partial" type="text/x-handlebars-template">
      <div class="body">
        {{title}}
      </div>
    </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
